html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous")
        link(rel="stylesheet" href="/css/productos.css")
        title Productos

    body
        h1(class="h2 mb-1 fw-normal") Productos
        if mostrarProductos.length
            table(class="table table-striped")
                thead
                    tr
                        th(scope="col") #
                        th(scope="col") Nombre
                        th(scope="col") Precio
                        th(scope="col") Imagen
                tbody
                    each prod in mostrarProductos
                        tr
                            th(scope="row")= prod.id 
                            th= prod.title 
                            th= prod.price 
                            th
                                img(src=prod.thumbnail width="auto" height="30")
        else
            h1(class="h3 mb-1 fw-normal") No hay productos
        form(action="/registro" method="get") 
            button(class="w-100 btn btn-lg btn-primary mb-3" type="submit") Registro
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous")